.landing {
  &__presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3em;
    margin-top: 3.5em;

    &__image-container {
      width: 30em;
      &__image {
        width: 100%;
        border-radius: 3em;
      }
    }


    &__texte {
      text-align: justify;
      font-family: $font-normal;
      max-width: 45%;
      font-size: 2em;
      line-height: 1.3em;
      color: $white;
      border-radius: 1.5em;
    }
  }
}