// style générique qui s'applique à toutes les pages

html{
  scroll-behavior: smooth;
  background-color: $light-green;
}

.wrapper{
  max-width: 70%;
  margin: 0 auto;
}

.hidden-title {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

@media (max-width: 500px) {
  .wrapper{
    max-width: fit-content;
  }
}