$wrapper: 15%;
$dark-green: #004F32;
$light-green: #CFFFDA;
$white: #FFFFFF;
$font-bold: 'Loos Bold', Arial, helvetica, sans-serif;
$font-normal: 'Loos Medium', Arial, helvetica, sans-serif;
$font-light: 'Loos light', Arial, helvetica, sans-serif;
$titres: 3.625em;
$textes: 1.125em;